@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
}

img {
  width: 100%;
  height: auto;
}

p, li {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

h1 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

a {
  color: #0065ff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  text-decoration: underline;
}

.site-header {
  background: #fafbfc;
}
.site-header__inner {
  padding: 20px 10px;
}

.site-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.site-navigation ul a {
  font-size: 20px;
}

.article__inner {
  padding-bottom: 40px;
}
.article__date {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

.news__title h1:after {
  content: "";
  height: 2px;
  background: #0065ff;
  display: block;
  width: 130px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .news__title h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
  }
}
.news__articles {
  padding: 20px 0;
}

.site-footer {
  background: #172b4d;
}
.site-footer__inner {
  padding: 60px 0;
}
.site-footer__legacy {
  color: #fff;
}

.c-worker {
  background: #fafbfc;
}
.c-worker__inner {
  display: grid;
  gap: 25px;
  padding: 60px 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.c-worker__card {
  -webkit-box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
          box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.c-worker__card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.c-worker__header {
  background: var(--color);
  height: 40px;
}
.c-worker__img {
  height: 45px;
  width: 45px;
  border-color: #fff;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: -20px;
  padding: 8px;
}
.c-worker__body {
  padding: 35px 15px 30px 15px;
  position: relative;
}

.s-beginner__inner {
  padding: 60px 10px;
}

.c-headline {
  text-align: center;
}

.c-cards__inner {
  display: grid;
  gap: 25px;
  padding: 60px 10px 0 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.c-article {
  background: #fafbfc;
  border-radius: 8px;
}
.c-article__inner {
  padding: 10px;
}
.c-article:not(:last-child) {
  margin-bottom: 20px;
}
.c-article__date {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}