.news {
    &__title {
        h1 {
            &:after {
                content: "";
                height: 2px;
                background: $primary_color;
                display: block;
                width: 130px;
                margin-top: 10px;
            }

            @include mobile {
                font-size: 32px;
                line-height: 40px;
                font-weight: 600;
            }
        }
    }

    &__articles {
        padding: 20px 0;
    }
}