.c-worker {
    background: $bg_light;

    &__inner {
        display: grid;
        gap: 25px;
        padding: 60px 10px;
        // grid-template-columns: repeat( 4, 1fr );
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    &__card {
        box-shadow: rgba(9,30,66,.15) 0px .5rem 1rem 0px;
        border-radius: $border_radius;
    }

    &__header {
        background: var(--color);
        height: 40px;
    }

    &__img {
        height: 45px;
        width: 45px;
        border-color: #fff;
        background: #fff;
        border-radius: 5px;
        position: absolute;
        top: -20px;
        padding: 8px;
    }

    &__body {
        padding: 35px 15px 30px 15px;
        position: relative;
    }
}

// SECTION BEGGINER

.s-beginner {
    &__inner {
        padding: 60px 10px;
    }
}

.c-headline {
    text-align: center;
}

.c-cards {
    &__inner {
        display: grid;
        gap: 25px;
        padding: 60px 10px 0 10px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}